Lunar/Lunar/Connected Services/consultaSPCBrasil/consultaWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webservice.consulta.spcjava.spcbrasil.org/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="consultaWebService" targetNamespace="http://webservice.consulta.spcjava.spcbrasil.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="https://treina.spc.org.br:443/spc/remoting/ws/consulta/consultaWebService?xsd=1" namespace="http://webservice.consulta.spcjava.spcbrasil.org/" />
    </xsd:schema>
  </types>
  <message name="listarProdutos" />
  <message name="listarProdutosResponse">
    <part name="produtos" element="tns:produtos" />
  </message>
  <message name="consultar">
    <part name="filtro" element="tns:filtro" />
  </message>
  <message name="consultarResponse">
    <part name="resultado" element="tns:resultado" />
  </message>
  <message name="consultaScore">
    <part name="filtro-score" element="tns:filtro-score" />
  </message>
  <message name="consultaScoreResponse">
    <part name="resultadoConsultaScore" element="tns:resultadoConsultaScore" />
  </message>
  <message name="consultaBiometria">
    <part name="filtro-biometria" element="tns:filtro-biometria" />
  </message>
  <message name="consultaBiometriaResponse">
    <part name="resultadoConsultaBiometria" element="tns:resultadoConsultaBiometria" />
  </message>
  <message name="detalharProduto">
    <part name="codigo-produto" element="tns:codigo-produto" />
  </message>
  <message name="detalharProdutoResponse">
    <part name="produto" element="tns:produto" />
  </message>
  <message name="consultaComplementar">
    <part name="filtro-complementar" element="tns:filtro-complementar" />
  </message>
  <message name="consultaComplementarResponse">
    <part name="resultado" element="tns:resultado" />
  </message>
  <portType name="consultaWebService">
    <operation name="listarProdutos">
      <input wsam:Action="http://webservice.consulta.spcjava.spcbrasil.org/consultaWebService/listarProdutosRequest" message="tns:listarProdutos" />
      <output wsam:Action="http://webservice.consulta.spcjava.spcbrasil.org/consultaWebService/listarProdutosResponse" message="tns:listarProdutosResponse" />
    </operation>
    <operation name="consultar">
      <input wsam:Action="http://webservice.consulta.spcjava.spcbrasil.org/consultaWebService/consultarRequest" message="tns:consultar" />
      <output wsam:Action="http://webservice.consulta.spcjava.spcbrasil.org/consultaWebService/consultarResponse" message="tns:consultarResponse" />
    </operation>
    <operation name="consultaScore">
      <input wsam:Action="http://webservice.consulta.spcjava.spcbrasil.org/consultaWebService/consultaScoreRequest" message="tns:consultaScore" />
      <output wsam:Action="http://webservice.consulta.spcjava.spcbrasil.org/consultaWebService/consultaScoreResponse" message="tns:consultaScoreResponse" />
    </operation>
    <operation name="consultaBiometria">
      <input wsam:Action="http://webservice.consulta.spcjava.spcbrasil.org/consultaWebService/consultaBiometriaRequest" message="tns:consultaBiometria" />
      <output wsam:Action="http://webservice.consulta.spcjava.spcbrasil.org/consultaWebService/consultaBiometriaResponse" message="tns:consultaBiometriaResponse" />
    </operation>
    <operation name="detalharProduto">
      <input wsam:Action="http://webservice.consulta.spcjava.spcbrasil.org/consultaWebService/detalharProdutoRequest" message="tns:detalharProduto" />
      <output wsam:Action="http://webservice.consulta.spcjava.spcbrasil.org/consultaWebService/detalharProdutoResponse" message="tns:detalharProdutoResponse" />
    </operation>
    <operation name="consultaComplementar">
      <input wsam:Action="http://webservice.consulta.spcjava.spcbrasil.org/consultaWebService/consultaComplementarRequest" message="tns:consultaComplementar" />
      <output wsam:Action="http://webservice.consulta.spcjava.spcbrasil.org/consultaWebService/consultaComplementarResponse" message="tns:consultaComplementarResponse" />
    </operation>
  </portType>
  <binding name="consultaWebServicePortBinding" type="tns:consultaWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarProdutos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="consultar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="consultaScore">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="consultaBiometria">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="detalharProduto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="consultaComplementar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="consultaWebService">
    <port name="consultaWebServicePort" binding="tns:consultaWebServicePortBinding">
      <soap:address location="https://treina.spc.org.br:443/spc/remoting/ws/consulta/consultaWebService" />
    </port>
  </service>
</definitions>